
body {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

header {
    background: #0094ff;
    overflow: auto;
}

header #logo {
    font-size: 2em;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header #profileAvatar {
    width: 60px;
    float: right;
    border-radius: 5px;
}


#mainContent {
    clear: both;
    max-width: 980px;
    margin: 0 auto;
}

section {
    border: 1px solid #d3d3d3;
}

section h2 {
    font-size: 1.8em;

    text-align: center;
}

section .tweet {
    overflow: auto;
    border-bottom: 1px solid #ddd;
}

section li {
    clear: both;
    margin-bottom: 1em;
}

.tweet img {
    width: 80px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
}

.tweet p {
    font-size: 1.4em;
    margin-left: 100px;
    margin-top: 0;
}

.tweet .name {
    font-weight:bold;
    font-size: 1.1em;
}

.tweet .username, .tweet .timeAgo {
    color: #808080;
}

footer {
    clear:both;
    text-align:center;
    background: #d3d3d3;
    height: 6em;
    line-height: 6em;
}


.clear {
    clear: both;
}